<div id="form_modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Modifica</h2>
    </div>
    <div class="modal-body">
      <p>missing content</p>
    </div>
    <div class="modal-footer">
      <div class="clearfix">
        <button type="button-edit-form" class="cancelbtn">Cancel</button>
        <button type="button-edit-form" class="okbtn">Ok</button>
      </div>
    </div>
  </div>

</div>
